In [1]:
import pandas as pd
reviews = pd.read_csv("../assets/winemag-data-130k-v2.csv", index_col=0)
pd.set_option("display.max_rows", 5)

In [2]:
reviews.groupby('points').points.count()

points
80     397
81     692
      ...
99      33
100     19
Name: points, Length: 21, dtype: int64

In [3]:
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [4]:
reviews.groupby('points').price.min()

points
80      5.0
81      5.0
       ...
99     44.0
100    80.0
Name: price, Length: 21, dtype: float64

In [6]:
reviews.groupby('points').price.mean()

points
80      16.372152
81      17.182353
          ...
99     284.214286
100    485.947368
Name: price, Length: 21, dtype: float64

In [9]:
reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
1+1=3                          1+1=3 NV Rosé Sparkling (Cava)
10 Knots                 10 Knots 2010 Viognier (Paso Robles)
                                  ...
àMaurice    àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                         Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

In [11]:
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmin()])

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
...                               ...
Uruguay   San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  Ashy, green and funky smelling, then sweet, ch...
          Other             Yellowish in color, a true indicator that this...
...                                                                       ...
Uruguay   San Jose          Forceful, edgy aromas of cherry and drugstore ...
          Uruguay           Aromas of sawmill and burnt wood are dominant....

                              designation  points  price          province  \
country   province
Argentina Mendoza Province            NaN      80   17.0  Mendoza Province
          Other                       NaN      80   13.0             Other
...                                   ...     ...    ...               ...
Uruguay   San Jose          Parcela Vieja      82   20.0          San Jose
          Uruguay                Traversa      81   12.0           Uruguay

                           region_1 region_2        taster_name  \
country   province
Argentina Mendoza Province  Mendoza      NaN  Michael Schachner
          Other               Salta      NaN  Michael Schachner
...                             ...      ...                ...
Uruguay   San Jose              NaN      NaN  Michael Schachner
          Uruguay               NaN      NaN  Michael Schachner

                           taster_twitter_handle  \
country   province
Argentina Mendoza Province           @wineschach
          Other                      @wineschach
...                                          ...
Uruguay   San Jose                   @wineschach
          Uruguay                    @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province     Bodega Carmine Granata 2009 Sémillon (Mendoza)
          Other                             Villa Viña 2006 Torrontés (Salta)
...                                                                       ...
Uruguay   San Jose          Castillo Viejo 2007 Parcela Vieja Cabernet Fra...
          Uruguay           Familia Traversa 2014 Traversa Chardonnay (Uru...

                                   variety                  winery
country   province
Argentina Mendoza Province        Sémillon  Bodega Carmine Granata
          Other                  Torrontés              Villa Viña
...                                    ...                     ...
Uruguay   San Jose          Cabernet Franc          Castillo Viejo
          Uruguay               Chardonnay        Familia Traversa

[425 rows x 13 columns]

In [12]:
reviews.groupby(['country']).price.agg([len, min, max])

              len   min    max
country
Argentina  3800.0   4.0  230.0
Armenia       2.0  14.0   15.0
...           ...   ...    ...
Ukraine      14.0   6.0   13.0
Uruguay     109.0  10.0  130.0

[43 rows x 3 columns]

In [13]:
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
...                          ...
Uruguay   San Jose             3
          Uruguay             24

[425 rows x 1 columns]

In [14]:
countries_reviewed.reset_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
..         ...               ...   ...
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

In [16]:
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len', ascending=False)

     index country    province    len
392    392      US  California  36247
415    415      US  Washington   8639
..     ...     ...         ...    ...
63      63   Chile     Coelemu      1
149    149  Greece      Beotia      1

[425 rows x 4 columns]

In [17]:
countries_reviewed.sort_index()

     index    country          province   len
0        0  Argentina  Mendoza Province  3264
1        1  Argentina             Other   536
..     ...        ...               ...   ...
423    423    Uruguay          San Jose     3
424    424    Uruguay           Uruguay    24

[425 rows x 4 columns]

In [18]:
countries_reviewed.sort_values(by=['country', 'len'])

     index    country          province   len
1        1  Argentina             Other   536
0        0  Argentina  Mendoza Province  3264
..     ...        ...               ...   ...
424    424    Uruguay           Uruguay    24
419    419    Uruguay         Canelones    43

[425 rows x 4 columns]

In [20]:
reviews.groupby('price')['points'].max() #.sort_index()

price
4.0       86
5.0       87
          ..
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [21]:
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit