In [19]:
import pandas as pd
reviews = pd.read_csv("../assets/winemag-data-130k-v2.csv", index_col=0)
pd.set_option('max_rows', 5)

In [2]:
reviews.price.dtype

dtype('float64')

In [3]:
reviews.dtypes

country        object
description    object
                ...
variety        object
winery         object
Length: 13, dtype: object

In [4]:
reviews[pd.isnull(reviews.country)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
913,NaN,"Amber in color, this wine has aromas of peach ...",Asureti Valley,87,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Gotsa Family Wines 2014 Asureti Valley Chinuri,Chinuri,Gotsa Family Wines
3131,NaN,"Soft, fruity and juicy, this is a pleasant, si...",Partager,83,NaN,NaN,NaN,NaN,Roger Voss,@vossroger,Barton & Guestier NV Partager Red,Red Blend,Barton & Guestier
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129590,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Büyülübağ 2012 Shah Red,Red Blend,Büyülübağ
129900,NaN,This wine offers a delightful bouquet of black...,NaN,91,32.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Psagot 2014 Merlot,Merlot,Psagot

In [8]:
reviews.groupby('winery').points.count().sort_values(by='points')

TypeError: sort_values() got an unexpected keyword argument 'by'

In [18]:
reviews_p_m = reviews.groupby('winery').points.max().sort_index()
reviews_p_m = reviews_p_m.reset_index()

reviews_p_m.sort_values(by='points')

                            winery  points
14257                       Soleau      80
13215                       Reyter      80
...                            ...     ...
2677                        Cayuse     100
2769   Chambers Rosewood Vineyards     100

[16757 rows x 2 columns]

In [11]:
reviews.groupby('price')['points'].max()#.sort_values(by='points') #sort_index()

price
4.0       86
5.0       87
          ..
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [21]:
reviews.region_1.fillna('Unknown').value_counts().reset_index()

                        index  region_1
0                     Unknown     21247
1                 Napa Valley      4480
...                       ...       ...
1228          McDowell Valley         1
1229  Clare Valley-Coonawarra         1

[1230 rows x 2 columns]

In [24]:
reviews_per_region_1 = reviews.region_1.fillna('Unknown').value_counts().reset_index()
reviews_per_region_1 = reviews_per_region_1.sort_values(by='region_1')
reviews_per_region_1

                        index  region_1
1229  Clare Valley-Coonawarra         1
1133                Squinzano         1
...                       ...       ...
1                 Napa Valley      4480
0                     Unknown     21247

[1230 rows x 2 columns]