In [1]:
import pandas as pd
import string

# Path of the file to read
tripreview_filepath = "tripadvisor_hotel_reviews.csv"

# Read the file into a variable tripreview_data
tripreview_data = pd.read_csv(tripreview_filepath) #, index_col=0) #"Review") #, parse_dates=True)

# print data of the first 5 rows
tripreview_data.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [2]:
# Find out how many rows?
print(len(tripreview_data))

20491

In [3]:
# print data of the last 5 rows
tripreview_data.tail()

                                                  Review  Rating
20486  best kept secret 3rd time staying charm, not 5...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside, desk staff ...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking, ca n't believe excellent ratin...       2

In [4]:
#print(tripreview_data)
#print(tripreview_data['Review'][1])

#print(len(tripreview_data['Review']))

counts = {} # dictionary
i = 0

while i < len(tripreview_data['Review']):
    text = tripreview_data['Review'][i]
    text = text.translate(str.maketrans('', '', string.punctuation))
    text = text.lower()
    words = text.split()
    for word in words:
        if word not in counts:
            counts[word] = 1
        else:
            counts[word] += 1
    i += 1
    
# sort the dictionary
lst = list()
for key, val in list(counts.items()):
    lst.append((val, key))
    
lst.sort(reverse=True)

for key, val in lst[:10]:
    print(key, val)

48832 hotel
34300 room
31525 not
21087 great
18989 nt
16972 good
16203 staff
15153 stay
13892 did
12589 just