In [1]:
import csv 
f = open('grade.csv', 'r')#, encoding='cp949') 
data = csv.reader(f, delimiter=',') 
for row in data :
    print(row)

f.close()

['Name', 'score', 'grade']
['Jamal', '98', 'A+']
['Eloise', '87', 'B+']
['Madeline', '99', 'A+']
['Wei', '94', 'A']

In [4]:
import pandas as pd

# Path of the file to read
grade_filepath = "grade.csv"

# Read the file into a variable grade_data
grade_data = pd.read_csv(grade_filepath) # , index_col="Name")

# Print grade_data
grade_data

       Name  score grade
0     Jamal     98    A+
1    Eloise     87    B+
2  Madeline     99    A+
3       Wei     94     A